
.icon{
    width: 40px;
    height: 40px;

}

.icon:hover, .icon:active{
    filter: opacity(75%);
}

.icon--type--menu{
    background-image: url("../img/burger.svg");
}

.icon--type--logo{
    background-image: url("../img/logo.svg");
    width: 98px;
    height: 52px;
}

.icon--type--phone{
    background-image: url("../img/call.svg");
}

.icon--type--message{
    background-image: url("../img/chat.svg");
}

.icon--type--login{
    background-image: url("../img/profile.svg");
}

.icon--type--repair{
    background-image: url("../img/repair.svg");
}

.icon--type--status{
    background-image: url("../img/checkstatus.svg");
}