.header{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #D9FFF5;
}

.header__items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__separator{
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
}


@media (min-width: 768px) {

    .header__items{
        justify-content: flex-end;
    }

    .header__items * {
        display: block;
        margin-left:20px;
    }
    .header__logo {
        margin-right: auto;
    }
    .header__status-icon{
        margin-right: 25px;
    }
}


@media (min-width: 1120px) {
    .header{
        display: none;
    }
}